<ion-header class="ion-no-border">
  <ion-toolbar class="toolbarColor1">
    <ion-buttons slot="end">
      <ion-button (click)="closeSelectCat()">
        <!-- <ion-icon slot="start" name="add"></ion-icon> -->
        Cancelar
      </ion-button>

      <ion-button (click)="closeSelectCat()">
        <!-- <ion-icon slot="start" name="add"></ion-icon> -->
        Aceptar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="categories?.length>0;else emptyCategories">
    <ion-radio-group [(ngModel)]="category">
      <ion-item lines="none" *ngFor="let cat of categories">
        <ion-label>{{cat.nameCat}}</ion-label>
        <ion-radio slot="end" [value]="cat"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ng-template #emptyCategories>
    <lottie-player
    autoplay
    loop
    mode="normal"
    src="../../assets/animations/empty1.json"
    style="width: 100%; height: 95%;"
>
</lottie-player>
  </ng-template>
</ion-content>
