<ion-header [class]="multiDelete?'':'ion-no-border'" class="headerColorSameToolbar">

  <ion-toolbar style="padding-top: 25px;" (@translateElement.done)="animationEnd($event,1)" [@translateElement]
    *ngIf="showItem['item1']" class="toolbarColor2">
    <ion-title class="ion-text-center">Detalle de la lista</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="start" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="deleteList()">
        <ion-icon slot="start" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-grid fixed style="width: 100%;">
    <ion-col size="12">
      <ion-item lines="none" style="margin-top: 30px;">
        <ion-icon id="icon0" slot="start" name="text-outline"></ion-icon>
        <ion-label>
          <h4>Nombre</h4>
          <h3>{{dataList['nameList']}}</h3>
        </ion-label>
      </ion-item>
    </ion-col>

    <ion-col size="12">
      <ion-item lines="none">
        <ion-icon id="icon1" slot="start" name="calendar"></ion-icon>
        <ion-label>
          <h4>Fecha de creación</h4>
          <h3>{{dataList['date']| date :'MMM d, yyy'}}</h3>
        </ion-label>
      </ion-item>
    </ion-col>

    <ion-col size="12">
      <ion-item detail lines="none" (click)="viewProducts()">
        <ion-icon id="icon2" slot="start" name="cart"></ion-icon>
        <ion-label>
          <h4>Total de productos</h4>
          <h3>#{{detailList?.length}}</h3>
        </ion-label>
      </ion-item>
    </ion-col>

    <ion-col size="12">
      <ion-item lines="none">
        <ion-icon id="icon3" slot="start" name="cash"></ion-icon>
        <ion-label>
          <h4>Total</h4>
          <h3>${{(detailList | sumPrice).toFixed(2)}}</h3>
        </ion-label>
      </ion-item>
    </ion-col>

    <ion-row>
      <ion-col size="12">
        <h2 style="text-align: center;">Estado de la lista</h2>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="containerTimeLapse">
    <div class="containerLine">
      <!-- <div id="line"></div> -->
      <div class="circles">
        <div (click)="updateList(1)" id="circle1" [style.background]="dataList['state']>=1?'#2FDF75':'#FF4961'">
          <!-- <div class="container">
            <ion-icon [name]="dataList['state']>=1?'checkmark':'close'"></ion-icon>
            <span>Pendiente</span>
          </div> -->
          <span>Pendiente</span>
          <lottie-player *ngIf="dataList['state']>=1;else lottie1No" id="lottie1" autoplay mode="normal"
            src="../../assets/animations/checkMark.json">
          </lottie-player>
          <ng-template #lottie1No>
            <lottie-player id="lottie1" autoplay mode="normal" 
              src="../../assets/animations/checkMarkNo.json">
            </lottie-player>
          </ng-template>
        </div>
        <div (click)="updateList(2)" id="circle2" [style.background]="dataList['state']>=2?'#2FDF75':'#FF4961'">
          <!-- <div class="container">
            <ion-icon [name]="dataList['state']>=2?'checkmark':'close'"></ion-icon>
            <span>Pedido</span>
          </div> -->
          <span>Pedido</span>
          <lottie-player *ngIf="dataList['state']>=2;else lottie2No" id="lottie1" autoplay mode="normal"
             src="../../assets/animations/checkMark.json">
          </lottie-player>
          <ng-template #lottie2No>
            <lottie-player id="lottie1" autoplay mode="normal" 
              src="../../assets/animations/checkMarkNo.json">
            </lottie-player>
          </ng-template>
        </div>
        <div (click)="updateList(3)" id="circle3" [style.background]="dataList['state']==3?'#2FDF75':'#FF4961'">
          <!-- <div class="container">
            <ion-icon [name]="dataList['state']==3?'checkmark':'close'"></ion-icon>
            <span>Recibido</span>
          </div> -->
          <span>Recibido</span>
          <lottie-player *ngIf="dataList['state']==3;else lottie3No" id="lottie1" autoplay mode="normal"
             src="../../assets/animations/checkMark.json">
          </lottie-player>
          <ng-template #lottie3No>
            <lottie-player id="lottie1" autoplay mode="normal" 
              src="../../assets/animations/checkMarkNo.json">
            </lottie-player>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</ion-content>