<ion-header class="ion-no-border">
  <ion-toolbar class="toolbarColor2">
    <ion-title>Productos</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon slot="start" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="toolbarColor2">
    <ion-searchbar [(ngModel)]="search" style="--border-radius:15px;" placeholder="Buscar..." type="text">
    </ion-searchbar>
    <ion-icon *ngIf="showOptionsFilter" (click)="openFilters()"
      style="color:var(--ion-color-tertiary-contrast);font-size: 22px; margin:8px;" slot="end" name="options">
    </ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">
  <ion-select style="display: none;" [(ngModel)]="searchBy" okText="Aceptar" cancel-text="Cancelar" #selectFilter
    [interfaceOptions]="optionsSelectAlert">
    <ion-select-option *ngFor="let cat of cats" [value]="cat">{{cat}}</ion-select-option>
    <ion-select-option value="">Mostrar todas.</ion-select-option>
  </ion-select>
  <ion-grid fixed *ngIf="products?.length>0;else emptyProducts">
    <ion-row>
      <ion-col size="12">
        <ion-list appAnimateItems className="exit-enter-styles">
          <ion-item class="ion-margin" [id]="'item'+i" lines="none"
            *ngFor="let product of products | filterProducts:search:searchBy:showOptionsFilter; let i = index"
            [attr.data-index]="i">
            <ion-label>
              <h2>{{product.name}}</h2>
              <h3>$ {{product.precio}}</h3>
              <h3 *ngIf="!showOptionsFilter">Cantidad: {{product.cantidad}}</h3>
            </ion-label>
            <ion-buttons style="margin: 0;" slot="end">
              <ion-button (click)="deleteProduct(i)">
                <ion-icon name="trash" slot="start"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-buttons style="margin: 0;" *ngIf="!showOptionsFilter" slot="end">
              <ion-button (click)="edit(i)">
                <ion-icon name="create-outline" slot="start"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-backdrop [@checkItemsDelete] (click)="edit(-1)" style="opacity: 1;background-color: rgba(0,0,0,0.5);"
      *ngIf="editProd" [tappable]="false"></ion-backdrop>
    <ion-row appShowInput (closeEdit)="editProd=false" [editProd]="editProd"
      style="transition: 0.12s;display: none;position: absolute;bottom: 0;right: 0;left: 0;z-index: 10;">
      <ion-col size="12">
        <ion-item style="--border-radius: 0;">
          <ion-label position="floating">Cantidad</ion-label>
          <ion-input [placeholder]="editProd?products[productToEdit]['name']:''" type="number" inputmode="numeric"
            appNumberInput (ionChange)="setCantidad($event)"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ng-template #emptyProducts>
    <lottie-player autoplay loop mode="normal" src="../../assets/animations/empty1.json"
      style="width: 100%; height: 95%;">
    </lottie-player>
  </ng-template>
</ion-content>