<ion-tabs #navTabs (ionTabsWillChange)="barAnimation()">

  <ion-tab-bar slot="bottom" style="border:none;">
    <ion-tab-button tab="tab1" style="--ripple-color: transparent;">
      <ion-icon name="home-sharp"></ion-icon>
      <!-- <ion-label>Inicio</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="tab2" style="--ripple-color: transparent;">
      <ion-icon name="ellipse"></ion-icon>
      <!-- <ion-label>Tab 2</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="tab3" style="--ripple-color: transparent;">
      <ion-icon name="square"></ion-icon>
      <!-- <ion-label>Tab 3</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>
  <div style="background-color: var(--ion-tab-bar-background);">
    <div id="barTab" class="bar"></div>
  </div>
</ion-tabs>