.tab-selected ion-icon{
    transform: translateY(-5px)
}
ion-icon{
    transition: 0.25s all;
    color: #041266;
}

.bar{
    height: 5px;
    background-color: var(--ion-background-color);
    border-radius: 10px;
    transition: 0.25s;
}
