<ion-header [translucent]="true" class="ion-no-border"  >
  <ion-toolbar style="padding-top: 25px;" class="toolbarColor2">
    <ion-title class="ion-text-center">Agregar</ion-title>
  </ion-toolbar>
  <button (click)="save($event)" class="button">
    <ion-icon style="font-size: 32px;" name="add-circle-outline"></ion-icon>
  </button>
</ion-header>

<super-tabs [config]="configSuperTabs">
  <super-tabs-toolbar slot="top">
    <super-tab-button>
      <!-- <ion-icon name="home"></ion-icon> -->
      <ion-label>Categoría</ion-label>    
    </super-tab-button>
    <super-tab-button>
      <!-- <ion-icon name="home"></ion-icon> -->
      <ion-label>Producto(s)</ion-label>    
    </super-tab-button>
    <super-tab-button>
      <!-- <ion-icon name="home"></ion-icon> -->
      <ion-label>Lista</ion-label>    
    </super-tab-button>
  </super-tabs-toolbar>
  <super-tabs-container (activeTabIndexChange)="slideChange($event)">
    <super-tab>
      <ion-content>
        <app-add-category></app-add-category>
      </ion-content>
    </super-tab>
    <super-tab>
      <ion-content>
        <app-add-product></app-add-product>
      </ion-content>
    </super-tab>
    <super-tab>
      <ion-content>
        <app-add-list></app-add-list>
      </ion-content>
    </super-tab>
  </super-tabs-container>
</super-tabs>
