app-add-category{
    height: 100%;
    width: 100%;
}
app-add-product{
    height: 100%;
    width: 100%;
}

app-add-list{
    height: 100%;
    width: 100%;
}

ion-label{
    font-family: var(--ion-font-family);
}

.button{
    position: absolute;
    top: 0;
    right: 0;
    top: 0;
    z-index: 10;
    padding: 48px 10px 10px 10px;
    border-radius: 25px;
    background-color: rgba(3,126,255,1);
    color: white;
    font-size: 14px;
    margin:-18px 5px 0 0;

}
:host{
    --super-tabs-toolbar-background: #041266;
}
